.auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;

  &__input-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__input {
    padding: 0.2rem;
  }

  &__bttn {
    padding: 0.5rem 1rem;
    width: 10rem;
    cursor: pointer;
  }

  &__error {
    font-size: 1.5rem;
    height: 1.5rem;
    color: red;
  }
}
