.board {
  display: block;
  overflow: hidden;
  overflow-x: auto !important;
  margin-top: 0.8rem;

  &__table,
  th,
  td,
  tr {
    border: 1px solid #111;
    text-align: center;
    padding: 1rem;
    border-collapse: collapse;
  }

  th {
    min-width: 10rem;
  }

  th:first-child {
    max-width: 20rem;
    word-break: break-word;
    min-width: 20rem;
  }

  &__table {
    text-align: center;
    margin: 0 auto;
    width: 90%;

    // white-space: normal;
  }
}
