.board {
  display: block;
  position: relative;
  overflow: hidden;
  overflow-x: auto !important;
  margin-top: 0.8rem;

  &__table,
  th,
  td,
  tr {
    border: 2px solid #111;
    text-align: center;
    padding: 1rem;
    border-collapse: collapse;
  }

  th {
    min-width: 8rem;
    background-color: #d8f5a2;
  }

  th:first-child {
    max-width: 20rem;
    word-break: break-word;
    min-width: 20rem;
  }

  &__table {
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }

  &__loading {
    display: flex;
    visibility: hidden;
    margin-bottom: 0.2rem;
    justify-content: center;
  }
}

.board__row {
  &--1 {
    background-color: aquamarine;
  }
}

.visible {
  visibility: visible;
}
