.a {
  display: flex;
  height: calc(100vh - 5rem);
}

.guide {
  display: flex;
  max-width: 130rem;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border: 1px #222 solid;
  background-color: var(--colorSec);
  color: white;
  margin: auto;
  height: 60rem;

  &__img {
    height: auto;
    width: 35rem;
    margin: 0 auto;
    object-fit: contain;
  }

  &__desc {
    width: 80%;
    margin: 0 auto;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
