.header {
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: lightblue;
  padding: 1rem;
  height: 5rem;

  &__logo {
    margin-left: 2rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--colorMain);
  }

  &__logged {
    display: flex;
    gap: 3rem;
    margin: 0 5rem 0 auto;
  }

  &__greeting {
    &-name {
      color: red;
    }
  }

  &__logout {
    cursor: pointer;
  }
}
