.header {
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: lightblue;
  cursor: pointer;
  padding: 1rem;
  height: 5rem;
  &__logo {
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--colorMain);
  }
}
