.bttn {
  background-color: #fff;
  color: #000;
  border: 1px #222 solid;
  width: fit-content;
  margin: 0 auto;
  padding: 1.2rem 1.6rem;
  min-width: 10rem;
  border-radius: 10px;
  cursor: pointer;
}
